#mw-searchoptions,
.advancedSearch-fieldContainer {
	background: linear-gradient(rgba(0, 0, 0, 0.1), #fff 0.5em);
	border: solid 1px #c8ccd1;
	border-top: 0;
	box-sizing: border-box;
	display: none;
	margin: 0;
	margin-top: -1px;
	max-width: 50em;
	padding: 1em;
}

.advancedSearch-fieldContainer .oo-ui-fieldLayout {
	margin-top: 0.3em;
}

/* FIXME: Why is this border set on a "label" element and not on the <fieldset>? */
.advancedSearch-fieldContainer fieldset.oo-ui-labelElement {
	border: none;
	border-top: solid 1px #c8ccd1;
	margin-top: 1em;
}

/* FIXME: Why does this try to mimic a <fieldset><legend> element instead of being an actual one? */
/* See */
.advancedSearch-fieldContainer .oo-ui-labelElement > .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label {
	background: #fff;
	color: #666;
	font-weight: normal;
	font-size: 1em;
	left: 1em;
	line-height: 1;
	padding: 0 0.2em;
	position: relative;
	top: -0.8em;
}

.advancedSearch-fieldContainer .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
	margin-right: 1%;
}

.advancedSearch-fieldContainer .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-help {
	float: right;
}

.advancedSearch-optionTags {
	white-space: normal;
}

.advancedSearch-optionTags > span {
	background: rgba(255, 255, 255, 0.6);
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	margin: 0.1em 0.2em;
	padding: 0.1em 0.5em;
}

.advancedSearch-filetype-presets .oo-ui-multioptionWidget {
	display: inline-block;
	margin-right: 1em; /* TODO margin-left for LTR? */
}

.advancedSearch-filesize .operator-container,
.advancedSearch-filesize .value-container {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.advancedSearch-filesize .operator-container {
	padding-right: 1em;
}
